// ==========================================
// 変数定義 (Variables)
// ==========================================
$color-border: #888;
$color-border-dark: #444444;
$color-today: #ffeb3b;
$color-grayout: #757575;
$color-bg-dark: #555;
$color-bg-light: #eee;
$color-white: #fff;

// テーマカラー・アクセント
$color-accent: orange;
$color-accent-light: rgb(255, 208, 120);
$color-hover-yellow: rgb(255,228,155);
$color-danger: #d32f2f;

// サイズ管理
$cell-width: 40px;
$cell-height: 40px;
$label-width: 200px;
$header-height: 80px;