$color-border: #888;
$color-today: #ffeb3b;
$color-grayout: #757575;
$cell-width: 40px;
$cell-height: 40px;
$label-width: 200px;

@mixin hover-state(
  $border-radius: 8px,
) {
  &:hover {
    background: rgb(255, 221, 128, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: $border-radius;
    transition: all 0.2s ease;
  }
}

// メディアクエリ
$breakpoints: (
  'sm': 576px,   // 480~576px   スマホ
  'md': 768px,   // 768px       タブレット（主戦場）
  'lg': 1200px,  // 1024~1200px ノートPC / デスクトップ
) !default;
@mixin media-query($breakpoint-name) {
  $width: map-get($breakpoints, $breakpoint-name);
  @if $width {
    @media screen and (max-width: #{$width}) {
      @content;
    }
  } @else {
    @warn "指定されたブレイクポイント「#{$breakpoint-name}」は定義されていません。";
  }
}

$header-height: 80px;
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-padding-top: $header-height;
    scroll-behavior: smooth;
  }
}

body {
  > header {
    > .site-name {
      text-align: center;
      margin-block: 24px;
    }
  }
  > main {
    margin-inline: 24px;
    @include media-query('md') { margin-inline: 20px; }
    @include media-query('sm') { margin-inline: 16px; }
    > .monthly-change-field {
      display: flex;
      width: fit-content;
      margin-block: 8px;
      > button {
        &#prevMonth, &#nextMonth {
          font-weight: bold;
          cursor: pointer;
        }
        &#prevMonth {
          border-radius: 8px 0 0 8px;
          @include hover-state(8px 0 0 8px);
        }
        &#nextMonth {
          border-radius: 0 8px 8px 0;
          @include hover-state(0 8px 8px 0);
        }
      }
      > .month-picker-wrapper {
        > span {
          > input[id=currentYearMonth] {
            background: #555;
            color: #fff;
            font-weight: bolder;
          }
        }
        > #currentYearMonthDisplay {
          padding-inline: 8px;
        }
      }
      @include media-query('md') {
        margin-inline: auto;
      }
      // @media (max-width: 768px) {
      //   margin-inline: auto;
      // }
    }
    > .matrix-wrapper {
      padding: 20px;
      @include media-query('md') { padding-inline: 16px; }
      @include media-query('sm') { padding-inline: 12px; }
      background: #eee;
      border: 4px solid $color-border;
      border-radius: 16px;
      > .table-inside-up-field {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 10px;
        margin-inline: 8px;
        > #currentYearDisplay {
          font-size: 1.25rem;
          cursor: pointer;
          @include hover-state;
        }
        > .overall-notes-btn-field {
          > button {
            cursor: pointer;
            &.overall-notes {
              appearance: none;
              background: none;
              border: none;
              text-decoration: underline;
              margin-inline: 8px;
              padding: 0;
              @include hover-state(0px);
            }
          }
        }
      }
      > .matrix-inner {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: 2px solid $color-border;
        border-radius: 4px;
        margin-inline: auto;
        table {
          background: #fff;
          border-collapse: collapse;
          table-layout: fixed;
          width: 100%;
        }
        th, td {
          border: 1px solid $color-border;
          text-align: center;
          width: $cell-width;
          height: $cell-height;
        }
        // 左側の項目列を固定
        .sticky-col {
          position: sticky;
          left: 0;
          background: #fff;
          width: $label-width;
          z-index: 0;
          text-align: left;
          padding-inline: 10px;
          overflow-wrap: anywhere;
          word-break: normal;
          line-break: strict;
          &:not(th) {
            cursor: pointer;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0; top: 0; bottom: 0;
            width: 2px;
            background: #999;
          }
          @include hover-state(0px);
        }
        // カテゴリ行（朝・昼・夜）
        .category-row {
          font-weight: bold;
          td {
            background: var(--cat-color, #eee);
            &.category-title {
              padding: 8px;
              > .title {
                display: inline-block;
                margin-right: 32px;
                pointer-events: none;
                // ▼将来的な長文対策用(一行ver)
                // max-width: 150px;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                // ▼将来的な長文対策用(複数行ver)
                // display: -webkit-box;
                // -webkit-box-orient: vertical;
                // -webkit-line-clamp: 2;
                // overflow: hidden;
              }
              > .add-item-btn {
                position: absolute;
                right: 8px;
                border: 2px solid #888;
                border-radius: 8px;
                cursor: pointer;
              }
            }
            // &[colspan] {
            //   // text-align: start;
            //   // padding-left: 20px;
            //   // > .updown-btn, > .bgcolor-select-btn {
            //   //   font-size: 0.75rem;
            //   //   font-weight: normal;
            //   //   border: 1px solid #888;
            //   //   border-radius: 16px;
            //   //   cursor: pointer;
            //   //   &:not(:last-child) {
            //   //     margin-right: 8px;
            //   //   }
            //   // }
            // }
          }
        }
        // 今日の日付ハイライト
        .is-today {
          background: yellow;
        }
        // カレンダー上部の月・日付マス(クリックに気づかせる用のホバー)
        .memo-trigger {
          @include hover-state(0px);
        }
        // マス目の状態
        .cell-btn {
          width: 100%;
          height: 100%;
          line-height: $cell-height;
          cursor: pointer;
          &[data-status="true"]::before { content: "◯"; font-size: 1.5rem; }
          &[data-status="false"]::before { content: "×"; font-size: 1.5rem; }
          &[data-status="none"] { background: #e0e0e0; }
          &[data-status="undefined"] { background: #cfcfcf; }
          @include hover-state(0px);
        }
        @include media-query('sm') {
          font-size: 0.75rem;
          table {}
          th, td {
            width: $cell-width - 8px;
            height: $cell-height - 6px;
          }
          .sticky-col {
            width: $label-width - 80px;
            padding-inline: 8px;
          }
          .category-row {
            td {
              &.category-title {
                padding: 6px;
                > .title {
                  margin-right: 28px;
                }
                // > .add-item-btn {}
              }
            }
          }
          // .is-today {}
          // .memo-trigger {}
          .cell-btn {
            line-height: $cell-height - 6px;
          }

        }
      }
    }
    > .table-outside-bottom-field {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-block: 10px;
      > button {
        cursor: pointer;
        &.add-category-item-btn {
          padding: 8px 16px;
          border: 1px solid #888;
          border-radius: 16px;
          > span {
            padding-right: 4px;
          }
          @include hover-state();
        }
        &.all-data-reset-btn {
          appearance: none;
          background: none;
          border: none;
          text-decoration: underline;
          margin-inline: 8px;
          padding: 0;
        }
      }
      @include media-query('md') {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 16px;
      }
    }
  }


  > dialog {
    padding: 0;
    border: none;
    background: transparent;
    max-width: none;
    max-height: none;
  }

  > dialog[open] {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100svw;
    height: 100svh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    animation: fadeInDialogBackground 0.4s ease forwards;
    @keyframes fadeInDialogBackground {
      from { background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(5px); }
      to { background: rgba(0, 0, 0, 0.75); backdrop-filter: blur(1px); }
    }
    &#categoryEditDialog, &#itemEditDialog {
      > .modal-card {
        @include media-query('sm') {
          width: 80svw;
          margin-inline: auto 2svw;
        }
      }
    }

    > .modal-card {
      background: #fff;
      width: max(400px, 40svw);
      @include media-query('sm') {
        width: 90svw;
        opacity: 0.95;
      }
      height: auto;
      margin-block: 16svh auto;
      margin-inline: auto;
      border-radius: 8px;
      animation: slideInDownModalCard 0.8s ease-out forwards;
      @keyframes slideInDownModalCard {
        from { opacity: 0.5; transform: translateY(-20px); }
        to { opacity: 1; transform: translateY(0); }
      }
      > .modal-header {
        position: relative;
        > .modal-title {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 24px;
          padding-bottom: 16px;
          h3 {
            text-align: center;
            width: 80%;
          }
        }
        >.modal-close-icon-button {
          position: absolute;
          top: 8px;
          right: 16px;
          cursor: pointer;
          &:hover {
            border-radius: 4px;
            background: #ccc;
            transition: background 0.2s;
          }
        }
      }
      > .modal-hr {
        width: 96%;
        margin-inline: auto;
        border: 1px solid #404040;
      }
      > .modal-body {
        div {
          margin-block: 24px;
          &.modal-body-select {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
          }
          &.modal-body-comments {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-inline: auto;
            > label {
              font-weight: bolder;
            }
            > textarea {
              border: 2px solid $color-border;
              border-radius: 4px;
            }
          }
          &.category-name-field {
            text-align: center;
            margin-block: 10px 0;
            > #displayCatName {
              font-weight: bold;
            }
          }
          &.modal-body-item-name,
          &.modal-body-category-name {
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin-inline: auto;
            label {
              font-weight: bolder;
            }
            input[type="text"] {
              border: 2px solid #444444;
              border-radius: 8px;
              width: 16rem;
              padding: 4px 8px;
            }
          }
          &.modal-body-order-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            > button {
              line-height: 1;
              color: #444444;
              background: rgb(255, 208, 120);
              border: 2px solid #444444;
              border-radius: 16px;
              padding: 0.5em 1.0em;
              cursor: pointer;
              &:hover {
                background: orange;
                transition: background 0.2s;
              }
            }
          }
          &.modal-body-category-color {
            text-align: center;
          }
          &.modal-body-order-display {
            text-align: center;
            color: #333;
            font-size: 0.75rem;
          }
          &.modal-body-reset-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: auto;
            margin-block: 32px 40px;
            label {
              font-weight: bolder;
              margin-bottom: 10px;
            }
            input[type="text"] {
              border: 2px solid #444444;
              border-radius: 8px;
              width: 16rem;
              padding: 4px 8px;
            }
          }
          &.modal-body-memo-textarea {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: auto;
            margin-block: 32px 40px;
            label {
              font-weight: bolder;
              margin-bottom: 10px;
            }
            textarea {
              border: 2px solid #444444;
              border-radius: 8px;
              width: 16rem;
              height: 8rem;
              padding: 4px 8px;
            }
          }

          &.dialog-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            > button {
              font-weight: bold;
              line-height: 1;
              color: #444444;
              background: #dddddd;
              border: 2px solid #444444;
              border-radius: 100vmax;
              padding: 0.75em 2.0em;
              cursor: pointer;
              &:hover {
                background: #ccc;
                transition: background 0.2s;
              }
              &:disabled {
                opacity: 0.4;
                cursor: not-allowed;
                pointer-events: none;
              }
              &.btn-color {
                &--red {
                  color: #fff;
                  background: #d32f2f;
                  font-size: 1.25rem;
                  letter-spacing: 0.08em;
                }
                &--orange {
                  color: black;
                  background: orange;
                }
              }
            }
          }
        }
      }
    }
  }

  .tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    &:hover .tooltip-text {
      opacity: 1;
      visibility: visible;
    }
  }
  .tooltip-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 4px;
    display: inline-block;
    padding: 6px;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1.3;
    background: #333;
    color: #fff;
    border-radius: 3px;
    transition: 0.2s ease-out;
    z-index: 10;
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -14px;
      right: 40%;
      margin-right: -7px;
      border: 7px solid transparent;
      border-top: 7px solid #333;
    }
  }
}